body{
  font-family: Arial, Helvetica, sans-serif;;
  margin: 0;
  padding: 0;
  background-color: #fbf2ea;
  font-family:"Gabriola";
}
a{
	text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: black;
}
i.fa fa-shopping-cart{
  width:100%;
  color:white;
}
a.fa fa-shopping-cart:hover{
  text-decoration: none;
  color: black;
}
video{
	width:100%;
}
.img-responsive{
	width:175px;
	height:160px;
	margin: auto;
}
nav{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #DEB887; 
}
#logo{
    width: 6%;
    margin-left: 1.9rem;
    margin-bottom: 0.6%;
}
.navbarBrand {
    font-family: "Cambria";
	font-weight: bold;
    font-size: 34px;
	color: white;
}

nav ul{
    float: right;
    margin: 0;
    margin-right: 1.9rem;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
	font-weight: bold;
}

nav ul li a{
	font-family: "Cambria";
    font-size: 16px;
    color: white;
    padding: 20px;
}
.section{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 2%;
}
.section h1{
    color: black;
    line-height: 50px;
}

.section h3{
    color: gray;
}
.btn-1{
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}
.search {
 margin: 0;
 padding: 10px 16px;
}
form.search input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #DEB887;
  color: black;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: grey;
}

form.search::after {
  content: "";
  clear: both;
  display: block;
}
p.suggest{
	color:#DEB887;
	text-align:center;
	font-size: 35px;
	 margin-left: 15%;
     margin-right: 15%;
	
}
p.BookType{
	color:#DEB887;
	text-align:center;
	font-size: 35px;
	 margin-left: 15%;
     margin-right: 15%;
	
}
.column {
  float:left;
  width: 27%;
  padding: 0 10px;
  margin: 3%;
}
.Bookcolumn {
  float:left;
  width: 15%;
  padding: 0 10px;
  margin: 2%;
}

.row {
  margin-left: 10%;
  margin-right:10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: center;
  background-color: #f1f1f1;
  transition: transform 0.3s;
  padding: 10px;
  border: 5px solid #DEB887; 
}
.checked {
  color: orange;
}
.Bookscard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: center;
  background-color: #f1f1f1;
  transition: transform 0.3s;
   width: 170px;
  height: 250px;
  border: 5px solid #DEB887;
  margin: 0;
}
.card:hover {
  transform: translateY(-10px);
}.Bookscard:hover {
  transform: translateY(-10px);
}
.BookName{
color:#000000;
font-size:25px;
}
p.Author{
	color:#000000;
	font-size:15px;
}
.price{
	color: maroon; 
	font-weight: bold;
}
p.pricee{
	color: black; 
	font-weight: bold;
}
.img-responsive_Books{
	width:90px;
	height:100px;
	margin: auto;
}
.loginbody{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	font-family:'Nunito', sans-serif;
}
.input, button{
	border:none;
	outline:none;
	background:none;
}
.cont{
	overflow: hidden;
	position: relative;
	width:900px;
	height:550px;
	background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    font-family:"Gabriola";
}

.form{
	position:relative;
	width:640px;
	height:100%;
	padding:50px 30px;
	transition:transform 1.2s ease-in-out,-webkit-transform 1.2s ease-in-out;
}

h2{
    text-align:center;
	font-weight:bold;
	font-size:35px;
}
label.label{
	display:block;
	width:260px; /*input line*/
	margin:5px auto 0;
	text-align:center;
	font-size:30px;
}
label span{
	font-size:17px;
	font-weight:bold;
	color:#505f75;
	text-transform:uppercase;
}
.input{
	display:block;
	width:100%;
	font-size: 16px;
	color:black;
	padding-bottom:5px;
	border-bottom: 1px solid rgba(109, 93, 93, 0.4);
	text-align:center;
	font-family:"Gabriola";
}
#checkbox{
	margin-left:40%;
}
.submit{
	display:block;
	width: 160px;
	height: 36px;
	border-radius: 30px;
	border-color:#fff;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
    margin-top: 30px;
	margin-bottom:30px;
	margin-left:36%;
	text-transform:uppercase;
	font-weight: 600;
	background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);	
}
.submit:hover{
	background-image: linear-gradient(to right,  #fcb69f 100%,#ffecd2 0%);
}
.forgot-pass{
	margin-top: 15px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color: #0c0101;
	cursor: pointer;
}
.forgot-pass:hover{
	color:red;
}
.sub-cont{
	overflow: hidden;
	position: absolute;
	left: 640px;
	top: 0;
	width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
	transition:transform 1.2s ease-in-out,-webkit-transform 1.2s ease-in-out; /* time transition*/
}
.cont.s-signup .sub-cont{
	-webkit-transform:translate3d(-640px,0,0);
	transform:translate3d(-640px,0,0); /* axis transition*/
}
.image{
	overflow: hidden;
	z-index : 2;
	position: absolute;
	left:0;
	top:0;
	width: 260px;
	height:100%;
	padding-top:360px;
}
.image:before{
	content:'';
	position:absolute;
	right:0;
	top:0;
	width:900px;
	height:100%;
	background-image: url("images/container-design.jpg");
	background-size:cover ;
	transition:transform 1.2s ease-in-out,-webkit-transform 1.2s ease-in-out; /* time transition*/
}
.image:after{
	content:'';
	position:absolute;
	right:0;
	top:0;
	width:100%;
	height:100%;
	
}
.cont .s-signup.img:before{
	-webkit-transform:translate3d(640px,0,0);
	transform:translate3d(640px,0,0); /* axis transition*/
}
.img-text{
	z-index:2;
	position: absolute;
	left:0;
	top: 50px;
	width: 100%;
	padding: 0 20px;
	text-align: center;
	color: #fff;
	transition:transform 1.2s ease-in-out,-webkit-transform 1.2s ease-in-out; /* time transition*/
}
.img-text h2{
	margin-bottom: 10px;
	font-weight: normal;
}
.img-text p{
	font-size: 14px;
	line-height:1.5;
}
.cont.s-signup .img-text.m-up{
	-webkit-transform:translateX(520px);
	transform:translateX(520px);
	
}
.img-text.m-in{
	-webkit-transform:translateX(-520px);
	transform:translateX(-520px);
	
}
.cont.s-signup .img-text.m-in{
	-webkit-transform:translateX(0);
	 transform:translateX(0);
	
}
.sign-in{
	padding-top: 65px;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
}
.cont.s-signup .sign-in{
	-webkit-transition-timing-function:ease-in-out;
	transition-timing-function:ease-in-out; /*Specifies a transition effect with a slow start and end*/
	-webkit-transition-duration:1.2s;
	transition-duration:1.2s;
	-webkit-transform:translate3d(640px,0,0);
	transform:translate3d(640px,0,0);
}
.img-btn{
	overflow:hidden;
	z-index:2;
	position: relative;
	width: 100px;
	height: 36px;
	margin: 0 auto;
	background:transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	cursor: pointer;
}
.img-btn:after{
	content:'';
	z-index:2;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	border:2px solid #fff;
	border-radius:30px;
}
.img-btn span{
	position : absolute;
	left:0;
	top:0;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack:center;
	justify-content: center;
	align-items: center;
	width:100%;
	height:100%;
	transition:transform 1.2s ease-in-out,-webkit-transform 1.2s ease-in-out; /* time transition*/
}
.img-btn span.m-in{
	-webkit-transform: translateY(-72px);
	transform: translateY(-72px);
}

.cont.s-signup .img-btn span.m-in{
  -webkit-transform:translateY(0);
   transform:translateY(0);
}

.cont.s-signup .img-btn span.m-up{
  -webkit-transform:translateY(72px);
  transform:translateY(72px);
}
.sign-in{
	-webkit-transform:translate3d(-30px,0,0);
	transform:translate3d(-30px,0,0);
}
.cont.s-signup .sign-up{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
#subject{
  height:90px;
  width:50%;
  position: absolute;
  margin: auto;
}
.getin_toutch_div{
 position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 14px;
}
.col{
	margin-bottom:10%;
}
.textform{
text-align: center;

}
.container_form{
    overflow: hidden;
     position: relative;
	 margin-left: 15%;
     margin-bottom: 20%;
      padding: 90px;
	  padding-top:20px;
      border-radius: 6px;
     overflow: hidden;
     position: relative;
     width:900px;
     height:600px;
     background: #fff;
     box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
	 font-size: 17px;
}
.mail{
width: 50px;
height: 50px;
}

button.submitt{
	display:block;
	width: 100px;
	height: 30px;
	border-radius: 30px;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
    margin-top: 30px;
	margin-bottom:30px;
	text-transform:uppercase;
	font-weight: 600;
	background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);	
}
.submitt:hover{​
	color: #fff;
	background-image: linear-gradient(to right, #fcb69f 100%, #ffecd2 0%); 
}
.imagee{
	position: absolute;
	right:0;
	top:0;
	width: 260px;
	height:100%;
	padding-top:360px;
	background-image: url("images/container-design.jpg");
}
label.labell{
margin-top:3%;
}
footer{
    background-color: #DEB887;
    color: black;
	font-weight: bold;
	font-size: 16px;
    text-align: center;
    padding: 1.2rem;
	margin-top:4%;
}
.social-media{
	text-align: center;
	margin-top: 12px;
}
.social-media ul li{
	display: inline-block;
	cursor: pointer;
	margin:10px 10px ;
}
.social-media img{
	width: 40px;
	height: 40px;
}
